@model Aghanina.ViewModels.RandomPlayerViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1> @Model.Artist.name</h1>
@*
    we can add some dynamic attributes 
*@



@if (Model.songs == null)
{
    <text> This artist har no songs.</text>
} else
{
<ul>
    @foreach (var song in Model.songs)
    {
        <li> @song.Name    </li>
    }
</ul>
}




