@model Aghanina.ViewModels.MySongs
@{ ViewData["Title"] = "MySongs";
}
<table>
    <th>
    <td>Song</td>
    <td>artist</td>
    <td>Details</td>
    </th>


    @foreach (var song in Model.MyList)
    {
    <tr>
        <td> @song.Name  </td>
        @if (song.Artist == null)
        {
            <td> unknown </td> }
        else
        {
            <td> song.Artist </td>
        }

        <td><a asp-controller="Home" asp-action="DisplayDetail"> Details </a></td>

    </tr>
    }


</table>
